<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shorten.repository.ShortenUrlMapper">

    <insert id="registUrl">
        INSERT INTO TB_URL(LONG_URL, SHORT_URL) VALUES(#{longUrl}, #{shortUrl})
        ;
    </insert>

    <update id="updateSelectCount">
        UPDATE TB_URL
        SET COUNT = COUNT+1
        WHERE LONG_URL = #{longUrl}

    </update>

    <select id="selectShortenUrl" resultType="java.lang.String">
        SELECT SHORT_URL
        FROM TB_URL
        WHERE LONG_URL = #{longUrl}
        ;
    </select>

    <select id="selectLongUrl" resultType="java.lang.String">
        SELECT LONG_URL
        FROM TB_URL
        WHERE SHORT_URL = #{shortUrl}
        ;
    </select>

    <select id="isRegisteredLongUrl" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) > 0 , TRUE, FALSE) AS RESULT
        FROM TB_URL
        WHERE LONG_URL =#{longUrl}
        ;
    </select>

    <select id="isRegisteredShortUrl" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) > 0 , TRUE, FALSE) AS RESULT
        FROM TB_URL
        WHERE SHORT_URL =#{shortUrl}
        ;
    </select>
</mapper>